<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginsignin.css">
</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='doctor.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form method="post">
                
                <input type="text" id="username" name="username" placeholder="Username" required>
                
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="signup.html">Sign up</a></p>
        </div>
    </div>
</body>
</html>
